#page-edit-contact {
  width: 100vw;
  height: 100vh;
}

#page-edit-contact main {
  background: var(--color-box-base);
  width: 100%;
  max-width: 74rem;
  border-radius: 0.8rem;
  margin: -3.2rem auto 3.2rem;
  margin-top: 12rem;
  padding-top: 6.4rem;
  overflow: hidden;
}

#page-edit-contact main fieldset {
  border: 0;
  padding: 0 2.4rem; 
}

#page-edit-contact main fieldset legend {
  font: 700 2.4rem Archivo;
  color: var(--color-text-title);
  margin-bottom: 2.4rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid var(--color-line-in-white);
}

#page-edit-contact main fieldset legend a{
  margin-left: 2rem;
}

#page-edit-contact main fieldset legend button {
  background: none;
  border: 0;
  color: var(--color-primary);
  font: 700 1.6rem Archivo;
  cursor: pointer;
  transition: color 0.2s;
  margin-left: 2rem;
}

#page-edit-contact main fieldset legend button:hover {
  color: var(--color-primary-dark);
}

#page-edit-contact main fieldset .input-block + .input-block {
  margin-top: 2.4rem;
}

#page-edit-contact main label {
  color: var(--color-text-complement);
} 

#page-edit-contact main footer {
  padding: 4rem 2.4rem;
  background: var(--color-box-footer);
  border-top: 1px solid var(--color-line-in-white);
  margin-top: 6.4rem;
}

#page-edit-contact main footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--color-text-complement);
}